<!DOCTYPE html>
{% load staticfiles %}

<html>
  
  <head>
    <meta charset="utf-8">
    <title>Puerto Rico Blight - {% block title %} Home {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    
    {% block head %}{% endblock %}
  </head>
  
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></a>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <a class="navbar-brand" href="#">Brand</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/properties/add">Agregar</a>
            </li>
          </ul>
        </div>
      </div>
    </div><!--navbar -->

    {% block body_block %}<div id="map"></div>{% endblock %}


    <script type="text/javascript">
    var map = L.map('map', {
    center: [18.44639, -66.08276],
    zoom: 14
    });

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var shpfile = new L.Shapefile("{% static 'media/Desuso.zip' %}",{
      onEachFeature:function(feature, layer) { 
        layer.bindPopup("<a href='/properties/"+feature.properties.Catastro+"'>"+feature.properties.Catastro+"</a>");
      }
    });
    shpfile.addTo(map);
    </script>

  </body>
</html>